@import '../modules/variables';
@import '../modules/fonts';
@import '../modules/colors';
@import '../modules/tags';

.searchResults {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .bold {
    font-weight: 700;
  }
}

.headerClass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-column: 1 / -1;
  text-align: right;

  @include breakpoint(phablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    text-align: left;
    margin-bottom: 1rem;
  }
}

.dd__selectedItem {
  margin-right: 0.5rem;
}

.dd__selectControl {
  @include breakpoint(mobileonly) {
    margin-bottom: 1rem;
  }
  width: 10rem;
}
