@import '../modules/variables';
@import '../modules/fonts';
@import '../modules/colors';
@import '../modules/tags';

.searchResults {
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }

  .bold {
    font-weight: 700;
  }
}

.headerClass {
  grid-column: 1 / -1;
  text-align: right;
}
