@import '../modules/variables';
@import '../modules/fonts';
@import '../modules/colors';
@import '../modules/tags';

.services {
  padding-top: 4.5rem;
}

.container {
  composes: container from global;
}

// Service Grid

.serviceGrid {
  display: grid;

  @include breakpoint(phablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  margin-top: 3rem;
  grid-gap: 1.5rem;
}

.service {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;

  p {
    color: $darkgray;
    font-size: 0.9rem;
    padding: 1rem;
    line-height: 1.8rem;
  }
}
