@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/tags';

$fontSize: 0.8rem;

.topContainer {
  composes: container from global;

  @include breakpoint(smallmobileonly) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.headerTop {
  border: 0.025rem solid $lightgray;
}

.react_icons {
  height: $fontSize;
  vertical-align: middle;
}

.topElements,
.topLeft,
.topRight {
  display: flex;
}

.topElements {
  justify-content: space-between;

  @include breakpoint(tablet) {
    justify-content: space-between;
  }

  a {
    color: $darkgray;

    &:hover {
      color: $main;
    }
  }
}

.topLeft {
  .react_icons {
    @include breakpoint(tablet) {
      margin-right: 0.5rem;
    }
  }
}

.child {
  color: $darkgray;
  font-weight: 300;
  font-size: $fontSize;
  border-left: 0.025rem solid $lightgray;
  border-bottom: 0;
  border-top: 0;
  padding: 1rem;
  vertical-align: middle;

  &:first-of-type {
    border-left: 0.05rem solid $lightgray;
  }

  &:last-of-type {
    border-right: 0.05rem solid $lightgray;
  }

  span {
    vertical-align: middle;
    display: none;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }
}