@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/tags';

.headerBottom {
  composes: container from global;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  background: rgba($main, 0.5);
  padding: 1rem;
  color: $black;
  line-height: 1.5rem;

  span {
    border-top: 0.2rem white solid;
  }
}