@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/tags';

.horizontalDecoration {
  display: grid;
  text-align: center;
  grid-template-columns: $container 1fr $container;
  grid-template-areas: 'icon icon icon' 'filler1 content filler2';

  margin-left: 0;
  position: relative;
  margin-bottom: 2rem;

  @include breakpoint(phabletAndMobileonly) {
    .iconContainer {
      position: relative;
      overflow: hidden;

      span {
        display: inline-flex;
        vertical-align: middle;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        position: relative;
        padding: 0;

        &:before {
          content: '';
          align-self: center;
          justify-self: center;
          display: block;
          width: 1000px;

          position: absolute;
          top: 50%;
          border-top: 0.1rem solid $lightgray;
        }

        &:before {
          right: 100%;
        }
      }
    }
  }

  @include breakpoint(tablet) {
    text-align: left;
    grid-template-columns: $container auto 1fr $container;
    grid-template-areas: 'line icon content filler1';
  }

  @include breakpoint(laptop) {
    text-align: left;
    grid-template-columns:
      minmax($container, auto)
      48px 922px
      minmax($container, auto);
    grid-template-areas: 'line icon content container';
  }

  .horizontalLine {
    display: block;
    grid-area: line;
    background-color: $lightgray;
    height: 0.1rem;
    align-self: center;
  }

  .iconContainer {
    grid-area: icon;
    flex-direction: column;
    align-self: center;

    @include breakpoint(phablet) {
      flex-direction: row;
    }

    .headerIcon {
      background-color: white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: $borderLine solid $lightgray;
      height: 3rem;
      width: 3rem;
      vertical-align: middle;
      color: $lightgray;
      overflow: hidden;
      z-index: 0;
    }
  }

  .main {
    grid-area: main;
  }

  .containerMargin {
    grid-area: container;
  }
}

.serviceHeaderContent {
  grid-area: content;
  align-self: center;
  margin: 0;
  margin-top: 1rem;

  h2.header {
    font-size: $serviceHeaderContentH2;
  }

  p.paragraph {
    margin-top: 0.5rem;
    font-size: $serviceHeaderContentP;
    line-height: 1.5rem;
    color: $darkgray;
  }

  @include breakpoint(tablet) {
    margin: 0 2rem;
    margin-top: 0;
  }

  @include breakpoint(laptop) {
    max-width: 25rem;
  }
}
