@import 'modules/variables';
@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/tags';

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-color: $main;
  margin: 1.5rem 0;
}

.iconContainer:hover {
  background-color: $maindark;

  & + h3 {
    border-bottom: 2px main solid;
  }

  & .icon {
    border: 1px white solid;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
